#error{
    /* background-color: #fed8b2; */
    width: 90%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    margin: auto;
    padding: 15px;
    p{
        font-family: Lato,system-ui,"Helvetica Neue",Arial,sans-serif;
        font-size: 18px;
    }
}